results/
checkpoints/
checkpoints/*
results/*/*/*.mp4
checkpoints/*
results/*/*/*.mp4
smart_ocr_results/
smarter_ocr_results/
TrackEval
eval/*
output*
test*
annotate.py
alter_txt.py
WHAT*
*.jpg
*.jpeg
player_tv.py
myresults/*
7445d1952cb5380bf1c8ed51356bb254da6df468
test/
evaluate.py
image.png
JAJA.jpg
JAJA0.jpg
test_123.jpg
test.jpeg